*{
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}
.btn-out{
    color:white;
    border:1px solid rgb(35, 71, 199);
    background-color: rgb(35, 71, 199);
    
    
}
.btn-out:hover{
    background-color: white;
    color: rgb(35, 71, 199);
    border:1px solid rgb(35, 71, 199);
}
.banner-content h1{
    font-size: 52px;
    font-weight: 700;
    
}
.banner-content h1 span{
    color: rgb(35, 71, 199);
}
.banner-content p,.banner-content ul,.banner-content ul li{
    font-size: 22px;
    list-style: none;
   
}
.banner-content ul li i{
    color: rgb(35, 71, 199);
    margin-right: 5px;
}
.Btncc{justify-content: space-between;}

.Btncc button{
    padding: 0.5rem;

    border-radius: 0.3rem;
    border:1px solid;

   
    
}
.Btncc button:first-child{
    background-color: rgb(35, 71, 199);
    color: white;
}
.Btncc button:first-child:hover{
    color:rgb(35, 71, 199);
    background-color: white;
    border:1px solid rgb(35, 71, 199) ;
}
.shadow-lg h3{font-weight: bold;}
.intype{background-color: rgb(35, 71, 199);
    color: white;

}

.intype:hover{   color:rgb(35, 71, 199);
    background-color: white;
    border:1px solid rgb(35, 71, 199) ;}

    .resgister input{
        margin-top: 1rem;
    }
.bar h1{
font-weight: bold;
color:rgb(35, 71, 199) ;
}
    